.banner {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 5rem;
}

.post {

    h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.625rem;
    }

    .dateAndAuthor {
        display: flex;
        align-items: center;
        color: var(--info);
        margin-top: 1.562rem;

        div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & + div {
                margin-left: 1.5rem;
            }
        }

    }
}
