.banner {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 5rem;
}

.post {

    h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.625rem;
    }

    .dateAndAuthor {
        display: flex;
        align-items: center;
        color: var(--info);
        margin-top: 1.562rem;

        div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & + div {
                margin-left: 1.5rem;
            }
        }

    }

    section {
        margin: 4rem 0;

        .section {
            margin-bottom: 3.56rem;
        }

        h2 {
            margin-bottom: 3.625rem;
            font-size: 2.25rem;
        }

        p {
            color: var(--body);
            font-size: 1.25rem;
            line-height: 2rem;

        }

        a {
            color: var(--highlight);
        }

        ul {
            color: var(--body);
            font-size: 1.25rem;
            line-height: 2rem;

            li {
                margin: 1.81rem 0;
            }
        }

    }
}
