.header {
    height: 6.56rem;
    color: var(--background);

    nav {
        display: flex;
        max-width: 1120px;
        height: 6.56rem;
        margin: 0 auto;
        align-items: center;
    }
}

